.nav-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu li {
  margin-right: 10px;
}

.nav-menu a {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #2F80ED;
}
