.page-main {
  //min-height: 8500px; // временно
}

.page-main__top {
  height: 650px; // временно
}

.page-main__if-not-do {
  height: 650px; // временно
}

.page-main__why {
  height: 650px; // временно
}

.page-main__will-on-course {
  height: 570px; // временно
}

.page-main__result {
  height: 980px; // временно
}

.page-main__belief {
  height: 980px; // временно
}

.page-main__recall {
  height: 1040px; // временно
}

.page-main__past-flow {
  height: 770px; // временно
}

.page-main__price {
  height: 710px; // временно
}

.page-main__bonus {
  height: 1260px; // временно
}

.page-main__sign-up {
  height: 240px; // временно
}
