.section-if-not-do {
  display: flex;
  justify-content: center;
  padding: 40px 0 75px 0;
}

.section-if-not-do__inner {
  width: calc(#{$desktop-width} - 100px * 2);
  //min-height: 100px;
  padding: 0 35px 0 30px;
}
